@import "tailwindcss";

@theme {
  --color-primary: hsl(var(--primary));
  --color-primary-dark: hsla(var(--primary) / 0.75);
  --color-text: hsla(0, 0%, 100%, 0.9);
  --color-text-muted: hsla(0, 0%, 100%, 0.6);
  --color-bg-light: hsl(214 36% 18%);
  --color-bg-light-accent: hsl(214 36% 24%);
  --color-bg: hsl(var(--bg));
  --color-bg-dark: #0d131c;
  --color-bg-select: hsl(214 36% 26%);

  --color-bg-gradient: linear-gradient(
    to right,
    var(--bg) 0%,
    var(--primary) 50%,
    var(--bg) 100%
  );

  --color-border: #344665; /* bg-light-border */
  --color-bg-select-border: hsl(214 36% 38%);

  --font-quicksand: "Quicksand", "sans-serif";

  --breakpoint-xs: 24.5rem;
}

@layer base {
  :root {
    --primary: 47 60% 53%;
    --bg: 214 36% 15%;

    /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
  }

  #root {
    @apply bg-bg text-text font-quicksand h-screen w-screen;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .identify {
    @apply rounded-2xl border-2 border-white/10;
  }

  .bg-gradient-skills {
    @apply from-bg-light-accent to-bg-light bg-radial-[at_0%_0%] to-80%;
  }
}

/* FONTS */

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* SCROLLBAR */
html {
  scrollbar-width: thin;
  scrollbar-color: #f0f0f0 #0d131c;
}
